body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header{
  position: relative;
  top: 0px;
  background-color: white;
  z-index: 2;
  padding-left: 40%;
}
#head {
  position: relative;
  background-color: lightgrey;
  z-index: 2;
}
main{
  width: 50%;
  margin: 0 25%;
  float: left;
}
#nav1{
  width: 25%;
  height: 1000px;
  top: 0px;
  position: sticky;
  float: left;
  margin-left: -100%;
  background: url("../img/nav2.jpg") repeat;
  z-index: 1;
}
#nav2{
  width: 25%;
  height: 1000px;
  position: sticky;
  top: 0px;
  float: left;
  margin-left: -25%;
  background: url("../img/nav2.jpg") repeat;
  z-index: 1;
}
#foot {
  clear: left;
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 160%;
}
#Ftext {
  text-align: center;
}
footer{
  clear: left;
  bottom: 0px;
  background-color: black;
  color: white;
  width: 100%;
  position: relative;
  z-index: 2;
}
*{margin: 0;}
p {
  text-align: justify;
  padding: 0 10px;
  padding-top: 20px;
}
#logo {
  width: 37%;
}
#logoFoot {
  color: white;
  font-size: 50px;
}
#slogan {
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
}
h1 {
  font-size: 40px;
  text-align: center;
}
.Z {
  font-weight: 700;
  font-size: 30px;
}
#P {
  width: 100%;
  padding-top: 20px;
}
#navigation {
width: 300px;
height: 210px;
background-color: grey;
position: absolute;
bottom: 300px;
transform: translateX(-100%);
}
#navigation ul {
color: #fff;
padding: 15px;
padding-left: 25px;
}
#navigation:after {
content: 'Навигация';
background-color:  #B0E0E6;
text-align: center;
border-radius: 0 0 8px 8px;
padding: 5px 0;
width: 210px;
position: absolute;
left: 300px;
transform: rotate(-90deg);
transform-origin: 0 0;
}
#navigation:hover {
transform: translateX(0%);
transition: all 0.7s ease;
}
#navigation li {
  color: white;
}
